:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  background: no-repeat
    url('../../assets/images/vegetables-set-left-black-slate.jpg');
  background-size: cover;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  margin: 2rem;
  padding: 0.5rem;
  line-height: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(250, 235, 215);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #9da3a8, -1px -1px 10px #6c7074;
}

.card:hover {
  background-color: rgb(250, 235, 215);
  animation: scale-up-center 0.9s cubic-bezier(0.5, 0.5, 0.5, 1) both;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.card li {
  list-style: none;
}
